<div class="container">
  <div class="row">
    <h2>会員一覧</h2>
  </div>
  <div class="row">
    <table class="table">
      <tr>
        <th>会員番号</th>
        <th>名前</th>
        <th>有効/無効</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.name, admins_user_path(user) %></td>
            <% if user.status %>
              <th class="text-success">有効</th>
            <% else %>
              <th class="text-danger">無効</th>
            <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>



