<div class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="text-center">©STUDIO "S"</p>
      </div>
      <div class="col">
        <%= link_to "管理者ログイン", new_admin_session_path, class: "small"%>
      </div>
    </div>
  </div>
</div>
